html, body {
  margin: 20px;
  background-color: #b8b8b8;
}

.playButton {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}

.cell {
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 20px;
  border: 2px solid #505050;
}

.unvisited {
  /*box-shadow: 1px 1px 1px #888888;*/
  background-color: #888888;
}

.visited {
  background-color: #fff;
}

.board {
  border: 5px solid #080808;
} 

#app {
  width: 275px; 
}

#header {
  text-align: center;
}