body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 16px;
}

header {
  margin: 0 auto;
  text-align: center;
  background-color: #9fafdf;
  border-bottom: 2px solid black;
}

#language-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

#english:hover, #japanese:hover {
  font-style: italic;
}

body.en #english {
  border-bottom: 1px solid #000;
}

body.en #japanese {
  border-bottom: none;
}

body.jp #japanese {
  border-bottom: 1px solid #000;
}

body.jp #english {
  border-bottom: none;
}

h1 {
  font-size: 34px;
  margin: 0;
  padding: 25px 0 10px;
  font-family: "Open Sans", sans-serif;
  line-height: 1em;
}

h2 {
  margin: 0;
  font-weight: 400;
  padding-bottom: 25px;
  font-size: 22px;
}

a {
  padding: 0 5px;
}

a:focus {
  outline-color: #ccc!important;
  -webkit-tap-highlight-color: rgba(204, 204, 204, 0.2);
}

#nav {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

#nav a {
  display: inline-block; /* needed to get capitalize working right */
  padding: 0;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

#nav a.active {
  border-bottom: 1px solid #000;
}

#nav a:focus {
  outline-offset: 3px;
}

p {
  margin: 0px;
  padding: 10px 0;
}

#main #content {
  padding: 25px;
}

#main.work #content p:first-child {
  padding-top: 0;
}

#photo, #bottom-photo {
  margin: 0 auto;
  border-radius: 4px;
}

#bottom-photo {
  margin-bottom: 25px;
}

#main.work #photo {
  height: 350px;
  width: 100%;
}

#main.keyboards #photo {
  height: 350px;
  width: 100%;
}

#main.keyboards #bottom-photo {
  height: 250px;
  width: 100%;
}

#main.keyboards #logo {
  margin: 25px auto 0;
  height: 60px;
  width: 40%;
}

#main.keyboards #content {
  padding-top: 15px;
}

#main.keyboards #content div {
  padding-bottom: 10px;
}

#main.tea #photo {
  height: 450px;
  width: 50%;
}

#main.tea #content div {
  padding-bottom: 10px;
}

#main.contact #photo {
  height: 350px;
  width: 100%;
}

#main.contact #content em {
  color: #333;
  padding-right: 5px;
  font-style: normal;
}

#page-top {
  text-align: center;
  margin-bottom: 25px;
}

/* media queries */
@media (min-width: 568px) {
  #main.keyboards #logo {
    height: 80px;
    width: 40%;
  }
}

@media (min-width: 768px) {  
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 26px;
  }

  #nav a {
    margin: 0 20px;
  }

  #main.work #photo {
    height: 350px;
    width: 75%;
  }

  #main.keyboards #photo {
    height: 350px;
    width: 75%;
  }

  #main.keyboards #logo {
    height: 80px;
    width: 30%;
  }

  #main.tea #photo {
    width: 50%;
  }
}

@media (min-width: 992px) {
  #nav {
    justify-content: center;
  }
  
  #main.work #photo {
    height: 350px;
    width: 50%;
  }

  #main #content {
    width: 50%;
    margin: 0 auto;
  }

  #main.contact #content {
    width: 25%;
  }
  
  #main.keyboards #photo {
    width: 50%;
  }

  #main.contact #photo {
    width: 50%;
  }

  #main.keyboards #bottom-photo {
    width: 50%;
  }

  #main.keyboards #logo {
    height: 90px;
    width: 23%;
  }

  #main.tea #photo {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  #main.work #photo {
    height: 350px;
    width: 50%;
  }
  
  #main.keyboards #photo {
    height: 400px;
  }

  #main.contact #photo {
    height: 400px;
  }

  #main.keyboards #bottom-photo {
    width: 50%;
    height: 200px;
  }

  #main.keyboards #logo {
    height: 90px;
  }
  
  #main.tea #photo {
    width: 30%;
  }
}
